/* .secao_FAQ {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
  line-height: 1.25;
  justify-content: center;
  margin-bottom: 3em;
}

.secao_FAQ .faq {
  width: 1200px;
  margin-bottom: 4em;
}

.subtituloFaq {
  text-transform: uppercase;
  text-align: left;
  font-size: 2em;
  width: 50%;
  font-weight: 660;
  position: relative;
  left: 3.5em;
}

.perguntas {
  width: 1200px;
  text-align: center;
  margin: auto;
}

.paragrafo {
  padding-top: 10px;
  font-size: 1.4em;
  text-align: left;
  width: 55%;
  font-weight: 500;
  position: relative;
  left: 5em;
}

.containerFAQ {
  background-image: url('../assets/img/fundo_laranja_menor.png');
  background-size: cover;
  background-position: bottom;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #c86710;
  margin-bottom: 3em;
} */


@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
}
.secao_FAQ {
  width: 100%;
  align-items: center;
  text-align: center;
}

.cabecalhoFAQ {
  background-color: #ffe1c6;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerFAQ {
  color: #c86710;
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 1rem;
  align-items: left;
}

.subtituloFAQ {
  text-transform: uppercase;
  text-align: left;
  font-size: 30px;
  width: 50%;
}

.perguntas {
  width: 1200px;
  text-align: center;
  margin: auto;
}
.paragrafoFAQ {
  padding-top: 10px;
  font-size: 20px;
  text-align: left;
  width: 55%;
}

.containerFAQ {
  background-image: url("../assets/img/fundo_laranja_menor.png");
  background-size: cover;
  background-position: bottom;
  height: 250px;
  padding: 30px 100px;
  display: flex;
  justify-content: left;
}

.details {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding: 30px 100px 30px 100px;
  border-radius: 5px;
  text-align: justify;
  justify-content: center;
  display: flex;
}

/* Estilo para o summary, com seta à direita e estilização de cor */
.summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  padding-right: 1.5rem;
}

.summary::after {
  content: ">";
  color: orange;
  font-weight: bold;
  margin-left: auto;
  transition: transform 0.3s ease, color 0.3s ease;
}

.details[open] .summary::after {
  transform: rotate(90deg);
  color: green;
}

.details[open] .summary {
  font-weight: bold;
}

.details p {
  margin-top: 0.5rem;
  font-size: 1.2em;
  color: #555;
  padding-top: 15px;
}

/* @media screen and (max-width: 480px) {
  .secao_FAQ {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  .containerFAQ {
    height: 250px;
    margin: auto;
    background-image: none;
    background-color: #ffe1c6;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #c86710;
    margin-bottom: 3em;
  }

  .perguntas {
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .subtituloFaq {
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
  }

  .paragrafoFAQ {
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
    font-weight: 500;
    left: 4em;
  }

  .details {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    justify-content: center;
    font-size: 0.6em;
  }

  .summary {
    font-size: 1.2em;
    padding: 20px;
  }

  .subtitutoFaq {
    left: 6em;
  }

  .pergunta {
    max-width: 200px;
} 
} */

@media (max-width: 600px) {
  .details, .summary, .pergunta {
    font-size: 1em;
    padding: 10px;
  }

  .containerFAQ {
    margin: auto;
    height: 250px;
    background-image: none;
    background-color: #ffe1c6;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #c86710;
  }

  .perguntas {
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .subtituloFAQ {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
  }

  .paragrafoFAQ {
    padding: 10px;
    font-size: 0.7em;
    text-align: center;
    font-weight: 500;
    left: 4em;
  }

  .details {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    justify-content: center;
    font-size: 0.6em;
  }

  .summary {
    font-size: 1.2em;
    padding: 20px;
  }

  .cabecalhoFAQ{
    text-align: center;
    font-size: 1.2em;
    width: 100%;
  }

  .pergunta {
    max-width: 100%;
    text-align: left;
    padding: 10px;
} 

.secao_FAQ {
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 100%;
}

}
